.landing-page{
    height:100%;
    min-height: 100vh;
    background-repeat: no-repeat;
    overflow-x: hidden;
    .ml{
        margin-left:2.5em;
    }
    .heading{
        font-size: 2.5rem;
        width:80%;
    }
    .sub-heading{
        width:80%;
    }
    input{
        border:1px black solid;
        border-radius: 2.5px;
        height:40px;
        padding-left: 15px;
        width:70%;
    }
    button{
        border-radius: 2.5px;
        color: rgb(255,255,255,0.9);
        background-color: rgb(61 99 240);
        width:30%;
    }
    .bottom-part{
        background-color: rgb(248,248,254);
        height:100%;
        padding-bottom: 80px;
    }
    .testimonial{
        background-color: white;
        height:fit-content;
        min-width:100px;
        width:60%;
        padding: 30px 30px 30px 30px;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    }
    .early-access-box{
        padding-top: 50px;
        padding-bottom: 50px;
        background-color:rgb(87 89 133);
        color:white;
    }
    .footer{
        background-color: rgb(7,4,56);
        color: rgb(220,220,243);
        padding-top: 40px;
        padding-bottom: 40px;
    }
}
// 220 220 243
