.intropage{
    .logo{
        margin-top: 10px;
    }
    .navbar{
        padding: 1rem 1rem 1rem 1rem;
    }
    .register-button{
        border: 1px solid black;
        padding: 10px 10px 10px 10px;
        border-radius: 10px;
    }
    .desktop-hero{
        width:65%;
        height:95%;
    }
}