.intropage{
    .logo{
        margin-top: 10px;
    }
    @media screen and (max-width:450px){
        .img-fluid{
            width:20%;
            height:80%;
        }
    }
    @media screen and (min-width:451px) and (max-width:1199px){
        .img-fluid{
            width: 15%;
            height:80%;
        }
    }

    @media screen and (max-width:1199px){
        .navbar{
            display:none;
        }
        .desktop-hero{
            display: none;
        }
        .heading{
            font-size: calc(2vw + 2vh + 1.25vmin);
            font-weight: 700;
            text-align: center;
        }
        .hero-text{
            text-align: center;
        }
    }
    
    @media screen and (min-width:1200px){
        .mobile-hero{
            display: none;
        }
        .clients{
            position: absolute;
            bottom:0;
            padding-left: 20px;
        }
        .heading{
            font-size: calc(3rem + 5vh);
            font-weight: 700;
            line-height: 90px;
        }
        .img-fluid{
            height:30px !important;
        }
    }
    .navbar{
        padding: 1.25rem 1rem 1rem 2.5rem;
    }
    .navbar-text:hover{
        color:black;
        cursor: pointer;
    }
    .register-button{
        color:gray;
        border: 2px solid gray;
        padding: 10px 10px 10px 10px;
        border-radius: 10px;
    }
    .register-button:hover{
        border: 2px solid black;
        color:black;
    }
    .desktop-hero{
        width:70%;
    }

    .learnmore-button{
        background-color: black;
        color: white;
        padding: 12px 30px 12px 30px;
        border-radius: 20px;
        font-weight: 500;
        border:1px solid white;
    }
    .learnmore-button:hover{
        background-color: white;
        color:black;
        border:1px solid black;
    }
}