.job-listings{
    min-height:100vh;
    height: 100%;
    background-color: rgb(242 250 250);
    padding-bottom: 80px;
    .header{
        background-color: rgb(110,163,163);
        margin-bottom: 50px;
    }
}